<div class="yh-items">
  <div class="yh-item">
    <a href="" class="image" style="background-image: url('/assets/images/general-page/window.jpg')"></a>
    <div class="yh-item_actions">
      <div class="yh-item_action">
        <a href=""><i class="yh yh_heart"></i></a>
        <a href=""><i class="yh yh_share"></i></a>
        <a href=""><i class="yh yh_document-sm"></i></a>
      </div>
      <div class="yh-item_info">
        <span><i class="yh yh_sofa"></i><span>6</span></span>
        <span><i class="yh yh_bathroom"></i><span>4</span></span>
        <span><i class="yh yh_ruler"></i><span>950.0 ft</span><sup>2</sup></span>
      </div>
    </div>
    <div class="yh-item_text">
      <h5><a href="">Price $125 per night</a></h5>
      <p><a href="">Renovated Private Bungalow With Mountain and Ocean Vistas</a></p>
      <div class="yh-item_hashtags">
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
      </div>
      <div class="yh-bottom">
        <div>
          <form action="">
            <span class="image-thumb" style="background-image: url('')"></span>
            <input type="text" placeholder="Write a comment…">
          </form>
        </div>
        <div>
          <a href="">view all 100 comments</a>
        </div>
      </div>
    </div>
  </div>
  <div class="yh-item">
    <a href="" class="image" style="background-image: url('/assets/images/general-page/window.jpg')"></a>
    <div class="yh-item_actions">
      <div class="yh-item_action">
        <a href=""><i class="yh yh_heart"></i></a>
        <a href=""><i class="yh yh_share"></i></a>
        <a href=""><i class="yh yh_document-sm"></i></a>
      </div>
      <div class="yh-item_info">
        <span><i class="yh yh_sofa"></i><span>6</span></span>
        <span><i class="yh yh_bathroom"></i><span>4</span></span>
        <span><i class="yh yh_ruler"></i><span>950.0 ft</span><sup>2</sup></span>
      </div>
    </div>
    <div class="yh-item_text">
      <h5><a href="">Price $125 per night</a></h5>
      <p><a href="">Renovated Private Bungalow With Mountain and Ocean Vistas</a></p>
      <div class="yh-item_hashtags">
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
      </div>
      <div class="yh-bottom">
        <div>
          <form action="">
            <span class="image-thumb" style="background-image: url('')"></span>
            <input type="text" placeholder="Write a comment…">
          </form>
        </div>
        <div>
          <a href="">view all 100 comments</a>
        </div>
      </div>
    </div>
  </div>
  <div class="yh-item">
    <a href="" class="image" style="background-image: url('/assets/images/general-page/window.jpg')"></a>
    <div class="yh-item_actions">
      <div class="yh-item_action">
        <a href=""><i class="yh yh_heart"></i></a>
        <a href=""><i class="yh yh_share"></i></a>
        <a href=""><i class="yh yh_document-sm"></i></a>
      </div>
      <div class="yh-item_info">
        <span><i class="yh yh_sofa"></i><span>6</span></span>
        <span><i class="yh yh_bathroom"></i><span>4</span></span>
        <span><i class="yh yh_ruler"></i><span>950.0 ft</span><sup>2</sup></span>
      </div>
    </div>
    <div class="yh-item_text">
      <h5><a href="">Price $125 per night</a></h5>
      <p><a href="">Renovated Private Bungalow With Mountain and Ocean Vistas</a></p>
      <div class="yh-item_hashtags">
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
      </div>
      <div class="yh-bottom">
        <div>
          <form action="">
            <span class="image-thumb" style="background-image: url('')"></span>
            <input type="text" placeholder="Write a comment…">
          </form>
        </div>
        <div>
          <a href="">view all 100 comments</a>
        </div>
      </div>
    </div>
  </div>
  <div class="yh-item">
    <a href="" class="image" style="background-image: url('/assets/images/general-page/window.jpg')"></a>
    <div class="yh-item_actions">
      <div class="yh-item_action">
        <a href=""><i class="yh yh_heart"></i></a>
        <a href=""><i class="yh yh_share"></i></a>
        <a href=""><i class="yh yh_document-sm"></i></a>
      </div>
      <div class="yh-item_info">
        <span><i class="yh yh_sofa"></i><span>6</span></span>
        <span><i class="yh yh_bathroom"></i><span>4</span></span>
        <span><i class="yh yh_ruler"></i><span>950.0 ft</span><sup>2</sup></span>
      </div>
    </div>
    <div class="yh-item_text">
      <h5><a href="">Price $125 per night</a></h5>
      <p><a href="">Renovated Private Bungalow With Mountain and Ocean Vistas</a></p>
      <div class="yh-item_hashtags">
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
        <a href="" class="hashtag">#hashtag</a>
      </div>
      <div class="yh-bottom">
        <div>
          <form action="">
            <span class="image-thumb" style="background-image: url('')"></span>
            <input type="text" placeholder="Write a comment…">
          </form>
        </div>
        <div>
          <a href="">view all 100 comments</a>
        </div>
      </div>
    </div>
  </div>
</div>
