<div class="main-page">
  <div class="main-page_menu">
    <div class="clearfix">
      <div class="pull-left">
        <a href="" class="logo-white"></a>
      </div>
      <div class="pull-right">
        <ul class="clearfix">
          <li><a routerLink="/accounts/sign-in">Join</a></li>
          <li><a href="">Help</a></li>
          <li><a routerLink="/accounts/sign-up">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="general-screen height" (click)="logit('itworks')">
    <div class="image">
      <h1>Real Apartments</h1>
      <form action="">
        <input type="text" class="form-element" placeholder="Try New York">
        <button type="submit"><i class="yh yh_search"></i></button>
      </form>
      <img src="/assets/images/general-page/ny-masthead-copy.png" alt="">
    </div>
  </div>
  <div class="second-screen">
    <div class="container">
      <div class="title-block">
        <div class="h2">Explorer New York City</div>
      </div>
      <div class="explorer-blocks">
        <div class="explorer-block">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/window.jpg')"></a>
          <div class="text">
            <h4><a href="">Homes</a></h4>
            <p>Real Videos of Real Apartments <br>for Real People.</p>
          </div>
        </div>
        <div class="explorer-block">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/window.jpg')"></a>
          <div class="text">
            <h4><a href="">Rentals</a></h4>
            <p>Real Videos of Real Apartments <br>for Real People.</p>
          </div>
        </div>
        <div class="explorer-block">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/xspalnya-v-zagorodnom-dome.jpg')"></a>
          <div class="text">
            <h4><a href="">Sublet</a></h4>
            <p>Real Videos of Real Apartments <br>for Real People.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="third-screen">
    <div class="container">
      <div class="title-block">
        <div class="h2"><i class="yh yh_message"></i>Advice on how to buy </div>
      </div>
      <div class="yh-items">
        <div class="yh-item with-author">
          <div class="yh-item_author">
            <span class="image-thumb"></span>
            <div class="author">
              <span>John Johnson</span>
              <span>Broker</span>
            </div>
          </div>
          <a href="" class="image" style="background-image: url('/assets/images/general-page/slide.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
        <div class="yh-item with-author">
          <div class="yh-item_author">
            <span class="image-thumb"></span>
            <div class="author">
              <span>John Johnson</span>
              <span>Citizen</span>
            </div>
          </div>
          <a href="" class="image" style="background-image: url('/assets/images/general-page/slide.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <span class="image-thumb" style="background-image: url('')"></span>
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
        <div class="yh-item with-author">
          <div class="yh-item_author">
            <span class="image-thumb"></span>
            <div class="author">
              <span>John Johnson</span>
              <span>Broker</span>
            </div>
          </div>
          <a href="" class="image" style="background-image: url('/assets/images/general-page/slide.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
      </div>
      <a href="" class="more">Show all</a>
    </div>
  </div>
  <div class="third-screen">
    <div class="container">
      <div class="title-block">
        <div class="h2"><i class="yh yh_marker"></i>Where to live?</div>
      </div>
      <div class="yh-items">
        <div class="yh-item">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/window.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
        <div class="yh-item">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/stuttgart.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <span class="image-thumb" style="background-image: url('')"></span>
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
        <div class="yh-item">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/xspalnya-v-zagorodnom-dome.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
      </div>
      <a href="" class="more">Show all</a>
    </div>
  </div>
  <div class="third-screen">
    <div class="container">
      <div class="title-block">
        <div class="h2"><i class="yh yh_food"></i>Restaurants</div>
      </div>
      <div class="yh-items">
        <div class="yh-item">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/window.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
        <div class="yh-item">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/stuttgart.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <span class="image-thumb" style="background-image: url('')"></span>
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
        <div class="yh-item">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/xspalnya-v-zagorodnom-dome.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
      </div>
      <a href="" class="more">Show all</a>
    </div>
  </div>
  <div class="third-screen">
    <div class="container">
      <div class="title-block">
        <div class="h2"><i class="yh yh_compas"></i>Sights</div>
      </div>
      <div class="yh-items">
        <div class="yh-item">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/window.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
        <div class="yh-item">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/stuttgart.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <span class="image-thumb" style="background-image: url('')"></span>
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
        <div class="yh-item">
          <a href="" class="image" style="background-image: url('/assets/images/general-page/xspalnya-v-zagorodnom-dome.jpg')"></a>
          <div class="yh-item_actions">
            <div class="yh-item_action">
              <a href=""><i class="yh yh_heart"></i></a>
              <a href=""><i class="yh yh_share"></i></a>
            </div>
            <div class="yh-item_info">
              <span>300 views</span>
              <span>45 likes</span>
            </div>
          </div>
          <div class="yh-item_text">
            <h5><a href="">How to rent an apartment?</a></h5>
            <p>Pub fare at an eclectic spot with new and classic cocktails…</p>
            <a href="">view all 100 comments</a>
            <form action="">
              <input type="text" placeholder="Write a comment…">
            </form>
          </div>
        </div>
      </div>
      <a href="" class="more">Show all</a>
    </div>
  </div>
</div>
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="footer-inner">
        <div class="left">
          <div class="site-map">
            <h5><a href="">Yurtah</a></h5>
            <ul>
              <li><a href="">Careers</a></li>
              <li><a href="">Press</a></li>
              <li><a href="">Policies</a></li>
              <li><a href="">Help</a></li>
              <li><a href="">Diversity & Belonging</a></li>
            </ul>
          </div>
          <div class="site-map">
            <h5><a href="">Discover</a></h5>
            <ul>
              <li><a href="">Trust & Safety</a></li>
              <li><a href="">Travel Credit</a></li>
              <li><a href="">Gift Cards</a></li>
              <li><a href="">Business Travel</a></li>
              <li><a href="">Guidebooks</a></li>
            </ul>
          </div>
          <div class="site-map">
            <h5><a href="">Hosting</a></h5>
            <div class="site-map__ul-wrap">
              <ul>
                <li><a href="">Why Host</a></li>
                <li><a href="">Hospitality</a></li>
                <li><a href="">Responsible Hosting</a></li>
                <li><a href="">Community Center</a></li>
              </ul>
              <ul>
                <li><a href="">Terms</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Site Map</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="footer-social">
            <a href=""><i class="yh yh_facebook-square"></i></a>
            <a href=""><i class="yh yh_instagram"></i></a>
            <a href=""><i class="yh yh_twitter-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    	<div class="container">
        &copy;
      </div>
  </div>
</footer>

<div class="container"><a routerLink="/accounts/edit/personal">GO TO ACCOUNTS</a></div>
<br><br><br>

