<div class="main-page">
  <div class="main-page_menu">
    <div class="clearfix">
      <div class="pull-left">
        <a href="" class="logo-white"></a>
      </div>
      <div class="pull-right">
        <ul class="clearfix">
          <li><a href="">Join</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="general-screen height" (click)="logit('itworks')">
    <div class="image">
      <h1>Real Apartments</h1>
      <form action="">
        <input type="text" class="form-element" placeholder="Try New York">
        <button type="submit"><i class="yh yh_search"></i></button>
      </form>
      <img src="/assets/images/general-page/ny-masthead-copy.png" alt="">
    </div>
  </div>
  <div class="second-screen">
    <div class="container">
    
    </div>
  </div>
</div>

<a routerLink="/accounts/edit/personal">GO TO ACCOUNTS</a> |
<a routerLink="/accounts/sign-in">LOGIN</a> |
<a routerLink="/accounts/sign-up">REGISTER NEW USER</a>
