<div class="main-page">
  <div class="main-page_menu">
    <div class="clearfix">
      <div class="pull-left">
        <a href="" class="logo-white"></a>
      </div>
      <div class="pull-right">
        <ul>
          <li><a href="">Join</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="general-screen height" (click)="logit('itworks')">
  
  </div>
</div>

<a routerLink="/accounts/edit/personal">GO TO ACCOUNTS</a> |
<a routerLink="/accounts/sign-in">LOGIN</a> |
<a routerLink="/accounts/sign-up">REGISTER NEW USER</a>
