<footer>
  <div class="footer-top">
    <div class="container">
      <div class="footer-inner">
        <div class="left">
          <div class="site-map">
            <h5><a href="">Yurtah</a></h5>
            <ul>
              <li><a href="">Careers</a></li>
              <li><a href="">Press</a></li>
              <li><a href="">Policies</a></li>
              <li><a href="">Help</a></li>
              <li><a href="">Diversity & Belonging</a></li>
            </ul>
          </div>
          <div class="site-map">
            <h5><a href="">Discover</a></h5>
            <ul>
              <li><a href="">Trust & Safety</a></li>
              <li><a href="">Travel Credit</a></li>
              <li><a href="">Gift Cards</a></li>
              <li><a href="">Business Travel</a></li>
              <li><a href="">Guidebooks</a></li>
            </ul>
          </div>
          <div class="site-map">
            <h5><a href="">Hosting</a></h5>
            <div class="site-map__ul-wrap">
              <ul>
                <li><a href="">Why Host</a></li>
                <li><a href="">Hospitality</a></li>
                <li><a href="">Responsible Hosting</a></li>
                <li><a href="">Community Center</a></li>
              </ul>
              <ul>
                <li><a href="">Terms</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Site Map</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="footer-social">
            <a href=""><i class="yh yh_facebook-square"></i></a>
            <a href=""><i class="yh yh_instagram"></i></a>
            <a href=""><i class="yh yh_twitter-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    	<div class="container">
        <img src="/assets/images/logo/logo-yurtah-grey.svg" alt="Yurtah logo">
        <span>&copy;</span>
      </div>
  </div>
</footer>
