<div class="filters">
  <div class="container">
    <div class="pull-left">
      <ul class="filters-ul">
        <li class="filters-li"><a href="" class="filters-a">Filter</a></li>
        <li class="filters-li"><a href="" class="filters-a">Price</a></li>
        <li class="filters-li"><a href="" class="filters-a">Size</a></li>
        <li class="filters-li"><a href="" class="filters-a">Type</a></li>
        <li class="filters-li"><a href="" class="filters-a">#Keywords</a></li>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="sort-ul">
        <li class="sort-li"><a href="" class="sort-a active"><i class="yh yh_th-large"></i><span>Hide a map</span></a></li>
        <li class="sort-li"><a href="" class="sort-a"><i class="yh yh_th"></i><span>Map and ads</span></a></li>
        <li class="sort-li"><a href="" class="sort-a"><i class="yh yh_square"></i><span>Full-screen map</span></a></li>
      </ul>
    </div>
  </div>
</div>
