<div class="top-menu">
  <div class="mobile-burger" [class.transform]="menuTransformed" (click)="toggleMenu()">
    <span></span><span></span><span></span>
  </div>
</div>

<div class="left-menu" [class.transform]="menuTransformed">
  <div class="top">
    <span class="icon-profile"></span>
    <span class="name-profile">John Smith</span>
  </div>
  <div class="center">
    <ul>
      <li><a routerLink="/accounts/edit/info" routerLinkActive="active">Edit profile</a></li>
      <li><a routerLink="/accounts/edit/personal" routerLinkActive="active">Edit personal info</a></li>
      <li><a routerLink="/accounts/listings" routerLinkActive="active">Listings</a></li>
      <li><a routerLink="/accounts/listings/new" routerLinkActive="active">Add listing</a></li>
    </ul>
  </div>
</div>
