<div class="sign-form">
  <div class="card-box">
    <div class="form-group">
      <h2 class="title">Sign-in</h2>
    </div>
    <div class="form-group text-center">
      <div>
        <a href="" class="btn btn-h40 btn-w250 btn-facebook">Facebook</a>
      </div>
      <div class="m-t-10">
        <a href="" class="btn btn-h40 btn-w250 btn-google">Google</a>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="form-label">Username or email</label>
      <input type="text" placeholder="example@mail.com" [(ngModel)]="data.email" class="form-element">
    </div>
    <div class="form-group">
      <label for="" class="form-label">Password</label>
      <input type="password" placeholder="******" [(ngModel)]="data.password" class="form-element">
    </div>
    <div class="form-group">
      <label for="checkbox1" class="form-label">Remember me</label>
      <input type="checkbox" id="checkbox1">
    </div>
    <div class="form-group text-center">
      <button type="submit" (click)="submitForm()" class="btn btn-h40 btn-w250 btn-blue">Sign in</button>
    </div>
    <div class="bottom text-center">
      <p>Don't have an account? <a routerLink="/accounts/sign-up">Sign up</a></p>
    </div>
  </div>
</div>
