.show-photo-profile {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid #d6e0e7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url('images/icon-profile.svg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
