.show-photo-profile {
  position: absolute;
  bottom: -40px;
  left: 30px;
  width: 80px;
  height: 80px;
  border: 2px solid #d6e0e7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url('images/icon-profile.svg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.change-photo-profile {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #d6e0e7;
  -webkit-box-shadow: 0 0 4px 0 #d6e0e7;
  -moz-box-shadow: 0 0 4px 0 #d6e0e7;
  box-shadow: 0 0 4px 0 #d6e0e7;
  opacity: .5;
  cursor: pointer;
  font-size: 16px;
}
.change-photo-profile i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.change-photo-profile:hover {
  opacity: .8;
}

.edit-cover-img {
  position: relative;
  height: 220px;
  margin-bottom: 60px;
  border-radius: 6px 6px 0 0;
  background-color: #d6e0e7;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.card-box.edit-personal {
  padding: 0 0 30px;
  margin-bottom: 0;
}
.card-box.edit-personal>.row {
  padding: 0 30px;
}

.change-cover {
  position: absolute;
  top: 20px;
  left: 30px;
  opacity: .3;
}
.change-cover:hover {
  opacity: .7;
}

@media (max-width: 992px) {
  .offset-3 {
    margin-left: 0 !important;
  }

  .col-4,
  .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-box .col-4,
  .card-box .col-6,
  .card-box .col-12 {
    padding: 0;
  }
}
