.show-photo-profile {
  position: absolute;
  bottom: -40px;
  left: 30px;
  width: 80px;
  height: 80px;
  border: 2px solid #d6e0e7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url('images/icon-profile.svg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.edit-cover-img {
  position: relative;
  height: 220px;
  margin-bottom: 60px;
  border-radius: 6px 6px 0 0;
  background-image: url("images/hd_wallpaper_15629.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.card-box.edit-personal {
  padding: 0 0 30px;
  margin-bottom: 0;
}
.card-box.edit-personal>.row {
  padding: 0 30px;
}

.change-cover {
  position: absolute;
  top: 20px;
  left: 30px;
  opacity: .3;
}
.change-cover:hover {
  opacity: .7;
}

@media (max-width: 992px) {
  .offset-3 {
    margin-left: 0 !important;
  }

  .col-4,
  .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-box .col-4,
  .card-box .col-6,
  .card-box .col-12 {
    padding: 0;
  }
}
