<div class="sign-up">
  <div class="card-box">
    <div class="form-group">
      <h2 class="title">Sign up</h2>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="" class="form-label">First name</label>
          <input type="text" class="form-element" placeholder="John">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="" class="form-label">Last name</label>
          <input type="text" class="form-element" placeholder="Smith">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="" class="form-label">Email</label>
          <input [(ngModel)]="user.email" name="email" type="email" class="form-element" placeholder="example@mail.com">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="" class="form-label">Username</label>
          <input type="text" name="username" [(ngModel)]="user.username" class="form-element" placeholder="JohnSmith">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="" class="form-label">Phone number</label>
          <input type="text" name="phone" class="form-element" placeholder="+ 1 234 567 890">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="" class="form-label">Both date</label>
          <input type="text" class="form-element" placeholder="00.00.0000">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="" class="form-label">Password</label>
          <input [(ngModel)]="user.password1" name="password1" type="password" class="form-element" placeholder="******">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for=""  class="form-label">Retype the password, please</label>
          <input [(ngModel)]="user.password2" name="password2" type="password" class="form-element" placeholder="******">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="checkbox2" class="form-label">I'm a landlord or industry professional</label>
          <input type="checkbox" id="checkbox2">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="checkbox3" class="form-label">I'd like to receive marketing and policy communications from Yurtah and its partners.</label>
          <input type="checkbox" id="checkbox3" checked="checked">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group text-center">
          <button type="submit" (click)="sendData()" class="btn btn-h40 btn-w250 btn-blue">Sign up</button>
        </div>
      </div>
      <div class="col-12">
        <div class="bottom text-center">
          <p>Already have an account? Then please <a routerLink="/accounts/sign-in">sign in</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
