<div class="fixed-main-menu">
  <div class="container">
    <div class="pull-left">
      <div class="pull-left">
        <div class="logo">
          <a href=""><img src="/assets/images/logo/logo-yurtah.svg" alt="Yurtah logo"></a>
        </div>
      </div>
      <div class="pull-left">
        <form action="">
          <input type="text" class="form-element" placeholder="Try New York">
          <button type="submit"><i class="yh yh_search"></i></button>
        </form>
      </div>
    </div>
    <div class="pull-right">
      <ul class="clearfix">
        <li><a routerLink="/accounts/sign-in">Join</a></li>
        <li><a href="">Help</a></li>
        <li><a routerLink="/accounts/sign-up">Sign up</a></li>
      </ul>
    </div>
  </div>
</div>
